<div class="dashboard-container">
  <!-- Alertas de Prova -->
  <app-try-in-alerts />
  <app-dashboard-calendar/>
  
  <!-- Cards do Dashboard -->
  <div class="dashboard-grid">
    <div class="card">
      <h2>Status do Sistema</h2>
      <p>Todos os serviços estão operando normalmente.</p>
      <button class="btn">Atualizar</button>
    </div>

    <div class="card">
      <h2>Relatórios Recentes</h2>
      <p>3 novos relatórios gerados hoje.</p>
      <button class="btn">Ver Relatórios</button>
    </div>

    <div class="card">
      <h2>Atividades Recentes</h2>
      <p>5 novos pedidos recebidos esta semana.</p>
      <button class="btn">Ver Pedidos</button>
    </div>

    <div class="card">
      <h2>Produção</h2>
      <p>12 itens em produção atualmente.</p>
      <button class="btn">Acompanhar Produção</button>
    </div>
  </div>
</div>