.calendar-container {
  padding: 1rem;
  margin-bottom: 10rem;
  background-color: #f4f1ee;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  ::ng-deep .fc {
    font-size: 0.875rem;
  }

  ::ng-deep .fc-col-header-cell {
    background-color: #334a52;
    color: white;
    font-weight: 600;
    padding: 10px 0;
    font-size: 14px;
  }

  ::ng-deep .fc-daygrid-day {
    min-height: 120px;
  }

  ::ng-deep .fc-day-today {
    background-color: rgba(39, 103, 120, 0.186) !important;
  }

  ::ng-deep .fc-event-main {
    overflow: visible !important;
    white-space: normal !important;
    font-size: 1.1rem !important;
  }

  // Mobile adjustments
  @media (max-width: 768px) {
    ::ng-deep .fc .fc-toolbar {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }

    ::ng-deep .fc-header-toolbar {
      flex-wrap: wrap;
    }

    ::ng-deep .fc .fc-toolbar-title {
      font-size: 1.1rem;
    }
     ::ng-deep .fc-event-main {
    overflow: visible !important;
    white-space: normal !important;
    font-size: 0.675rem !important;
  }

    ::ng-deep .fc .fc-event {
      font-size: 0.75rem !important;
      white-space: normal !important;
      word-break: break-word !important;
      padding: 2px 4px !important;
    }

    ::ng-deep .fc-daygrid-day {
      min-height: 100px;
    }
  }
}
