<div class="container">
  <div class="flex justify-between items-center mb-6">
    <h1 class="title">Escalas</h1>
    <button class="btn btn-primary" (click)="onNew()">
      <mat-icon>add</mat-icon>
      Nova Escala
    </button>
  </div>

  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          
          <th>Nome</th>
          <th style="width: 1%;">Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (scale of scales(); track scale.id) {
          <tr>
            
            <td >{{ scale.name }}</td>
            <td >
              <div class="action-buttons">
                <button class="btn btn-primary btn-sm" (click)="onEdit(scale)">
                  <mat-icon>edit</mat-icon>
                  Editar
                </button>
                <button class="btn btn-danger btn-sm" (click)="deleteScale(scale.id)">
                  <mat-icon>delete</mat-icon>
                  Excluir
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
