<div class="container">
  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
    <a routerLink="/sectors" routerLinkActive="active">Setores</a>
    <a routerLink="/work-sections" routerLinkActive="active">Seções de Trabalho</a>
    <a routerLink="/work-types" routerLinkActive="active">Tipos de Trabalho</a>
    <a routerLink="/scales" routerLinkActive="active">Escalas</a>
    <a routerLink="/shades" routerLinkActive="active">cores</a>
    <a routerLink="/table-price" routerLinkActive="active">Tabelas de Preço</a>
    <a routerLink="/clients" routerLinkActive="active">Clientes</a>
  <a routerLink="/service-orders" routerLinkActive="active">Ordens de Serviço</a>
  <a routerLink="/billing" routerLinkActive="active">Faturas</a>
    <a routerLink="/settings" routerLinkActive="active">
      <i class="nav-icon">⚙️</i>
      Configurações
    </a>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>